div {
    padding: 0;
    margin: 0
}

body,div {
    background-color: #3B5998
}

a,body {
    color: #EEE
}

html {
    background: #3B5998
}

h1,h{
    font-weight: 700
}

h2 {
    font-size: 1.3rem;
    font-weight: 700;
}


body,h5 {
    font-size: 1.0rem
}

body {
    font-family: Helvetica,Verdana,Arial
}

a {
    font-size: 1.0rem
}

#mainDiv {
    margin: 10% 25%
}

#mainDivBorder {
    padding: 5px;
    background-color: #FCFFCD
}

#mainDivContent {
    padding: 10px
}